{{ $col_id := .Get "color" | default "dark" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max"  }}
<section class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--light -bg-{{ $col_id }}">
  <div class="container td-overlay__inner">
    <div class="row align-items-end">
      <div class="col-md-5">
          <h1 class="display-1 mt-0 pb-3">
            <img alt="terrascan" width="98" src="/images/TerrascanTM_BY_TALL_Logo_WHITE.svg"/>
          </h1>
          <p class="display-2 mb-0">Detect compliance and security violations across Infrastructure as Code (IaC) to mitigate risk before provisioning cloud native infrastructure.</p>
      </div>
      <div class="col-lg-7 mt-0 mt-lg-3 d-lg-block" style="display:none">
       <asciinema-player loop autoplay font-size="12px" rows=24 cols=400
          src="terrascan.cast"></asciinema-player>
      </div>
      <div class="col-12 pt-3">
          <div class="pt-3 lead text-center">
              {{ .Inner }}
            </div>  
      </div>
    </div>
  </div>
</section>
