+++
title = "terrascan"
linkTitle = "terrascan"

+++
<meta name="google-site-verification" content="I332NqosMEQ9RkIzYqNRWSL_36T5wVUpElMG5dMG_O8" />
{{< blocks/cover title="terrascan" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-graduation-cap ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/accurics/terrascan">
		Download <i class="fas fa-download"></i> </a>
		<center>
			<script async src="https://cse.google.com/cse.js?cx=52d81aac5e2710292"></script>
<a class="github-button" href="https://github.com/accurics/terrascan" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star accurics/terrascan on GitHub">Star</a>
<a class="github-button" href="https://github.com/accurics/terrascan/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Fork accurics/terrascan on GitHub">Fork</a>
		</center>
		<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

	<p class="lead mt-5"> </p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}
Codify Policies for Infrastructure as Code

As you embrace Infrastructure as Code (IaC) such as [Terraform](https://www.terraform.io/), [Kubernetes](https://kubernetes.io/), [Argo CD](https://argo-cd.readthedocs.io/en/stable/), [Atlantis](https://www.runatlantis.io/) and AWS CloudFormation, it is important to ensure that security best practices and compliance requirements are observed. Terrascan provides 500+ out-of-the-box policies so that you can scan IaC against common policy standards such as the CIS Benchmark. It leverages the [Open Policy Agent](https://www.openpolicyagent.org/) (OPA) engine so that you can easily create custom policies using the Rego query language.

{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-code" title="Get Started" url="https://runterrascan.io/docs/getting-started/" %}}
Follow the documentation to get scanning as quickly as possible!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/accurics/terrascan" %}}
We do a [Pull Request](https://github.com/accurics/terrascan/pulls) contributions on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/runterrascan" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}



{{< blocks/section color="white">}}
<div class="col">
	<center>
	  <p>
      Meet, share and collaborate with other Terrascan users and contributors on our Community On Discord
    </p>

    <a
      class="btn btn-lg btn-secondary mr-3 mb-4"
      href="https://discord.gg/59vwVuGyGr"
    >
	     Join the Tenable Community Discord <i class="fab fa-discord"></i>
    </a>
	</center>
</div>

{{< /blocks/section >}}






{{< blocks/lead color="dark" >}}

<h2 class="text-center">Tenable is a member of</h2>
</br>

<a href="https://www.cncf.io" target="blank">
	<img class="cncf-logo" src="/images/logo_cloudnative.png" alt="Cloud Native Computing Foundation logo">
</a>

<a href="https://www.cncf.io" target="blank">
	<img class="cncf-logo" src="/images/openssflogo.wide-white.png" alt="Cloud Native Computing Foundation logo">
</a>

{{< /blocks/lead >}}
